body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  width: 100%;
  overflow-x: hidden;
}
.list{
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0, 0.1);
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 10%;
}
.itemy{
  width: 80%;
  color: #353935;
  font-size: 20px;
  margin: 0 auto;
}
.itemName{
  font-weight: bold;
  padding: 20px;
}
.line{
  border: 1px solid #f4f4f4;
}

.deleteButton{
  float: right;
  padding: 12px 20px;
  border: none;
  background-color: purple;
  color: white;
  margin-top: -5px;
  border-radius: 4px;
  cursor: pointer;
}
.completed{
  text-decoration: line-through;
}
.footer{
  position: fixed;
  bottom: 0;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  background-color: purple;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;


}
.item{

}
.space{
  padding-top: 20px;
  color: #f4f4f4;
}
 
